<template>
  <div class="home">
	  <div class="main">
		  <div class="half quarter-margin">
			  <h3>
				  Hello BriteCore!
			  </h3>
			  <p>
				  Thank you for taking interest on my application for the front-end position available on your awesome company.
			  </p>
			  <p>
				  This is a small site that hubs the info you requested on your application, I'm really looking forward on working with you, as your requirements are exactly what I've been doing for the past years, since before Vue even made it to 2.0.
			  </p>
			  <p>
				  First of all, I've got to say that your application process is very cool and I enjoyed coding the <router-link to="payments-data">DataTable</router-link> component. It's kinda similar to what I did on my previous job, which is also a data-heavy-app that works completely on Vue.js and GraphQL. 
			  </p>
			  <p>
				  Anyway, I really hope you like what I put together, I'd love to work with your team… I know we'll make an awesome app! Oh, and my <strong>Timezone is -6:00 (CST)</strong> too.
			  </p>
			  <h3>
				  <span>
					  Adrián
				  </span>
				  <br>
				  <a href="mailto:adrian@basave.com">
					  <span style="font-size: 0.8em;">adrian@basave.com</span>
				  </a>
			  </h3>
			  <hr>
			  <p>
				  <strong>P.S.:</strong> This project uses <a href="https://cli.vuejs.org/guide/css.html#pre-processors">SCSS</a> and was done using <a href="https://cli.vuejs.org/guide/">Vue CLI 3</a>, so, even though I assume you've got bot things installed, you might need to install these for a better experience… well, in case of <strong>SCSS</strong>, it won't work at all if you don't.
			  </p>
		  </div>
	  </div>
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
	name: 'home',
	components: {
		HelloWorld
	}
}
</script>
