<template>
	<div id="payments-module">
		<data-table></data-table>
	</div>
</template>

<script>
import DataTable from "../components/DataTable.vue";

export default {
	components: {
		DataTable
	}
}
</script>
