<template>
	<div class="quiz-view">
		<div class="main">
			<div class="half quarter-margin">
				<quiz/>
				<hr>
				<a href="https://gitlab.com/Beatlz/brite-lab-app/blob/master/quiz.js">
					Link to Javascript file
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import quiz from "./../components/Quiz.vue";

export default {
	components: {
		quiz
	}
}
</script>
