<template>
	<div class="data-table">
		<!-- Date filter modal -->
		<new-modal v-show="dateModal" @close="dateModal = false" w="500px" h="450px">
			<div slot="header">
				Select a date range:
			</div>
			<div slot="body" style="overflow: visible">
				<div>
					<label for="date-init">
						Start date:
					</label>
					<datepicker placeholder="Select Date" v-model="dateStart"></datepicker>
				</div>
				<div>
					<label for="end-date">
						End date:
					</label>
					<datepicker placeholder="Select Date" v-model="dateEnd"></datepicker>
				</div>
			</div>
			<div slot="footer">
				<button class="new-button danger-button" @click="dateStart = '', dateEnd= ''" v-show="dateStart || dateEnd">
					CLEAR
				</button>
			</div>
		</new-modal>
		<!-- table-grid head -->
		<div class="table-head">
			<div class="main">
				<div class="whole">
					<!-- table tools -->
					<div class="table-row">
						<div style="position: relative">
							<span class="clickable" style="position: absolute; top: 3px; left: 5px;">
								🔎
							</span>
							<input type="text" class="invisible" style="padding-left: 25px; width: 80%" v-model="search" placeholder="Search by ID, name, or description.">
						</div>
						<div @click="dateModal = true">
							<span class="clickable" v-if="!dateStart || !dateEnd">
								🗓 Filter by date
							</span>
							<span class="clickable" style="font-size: 0.8em !important;" v-else>
								{{ simpleDate(new Date(dateStart)) }} – {{ simpleDate(new Date(dateEnd)) }}
							</span>
						</div>
						<div class="clickable danger-font" style="font-size: 0.8em !important;" v-if="dateStart && dateEnd" @click="dateStart = '', dateEnd= ''">
							Clear filter
						</div>
						<div v-else>
							&nbsp;
						</div>
						<div>
							{{ payments.length }} results
						</div>
					</div>
					<!-- table head -->
					<div class="table-row">
						<div class="table-cell clickable" @click="sort = 'ID'">
							<strong>
								ID
							</strong>
							&nbsp;
							<span :class="{'greyed-out': sort !== 'ID'}">
								￬
							</span>
						</div>
						<div class="table-cell clickable" @click="sort = 'Name'">
							<strong>
								Name
							</strong>
							&nbsp;
							<span :class="{'greyed-out': sort !== 'Name'}">
								￬
							</span>
						</div>
						<div class="table-cell clickable" @click="sort = 'Description'">
							<strong>
								Description
							</strong>
							&nbsp;
							<span :class="{'greyed-out': sort !== 'Description'}">
								￬
							</span>
						</div>
						<div class="table-cell clickable" @click="sort = 'Date'">
							<strong>
								Date
							</strong>
							&nbsp;
							<span :class="{'greyed-out': sort !== 'Date'}">
								￬
							</span>
						</div>
						<div class="table-cell clickable" style="text-align: right" @click="sort = 'Amount'">
							<strong>
								Amount
							</strong>
							&nbsp;
							<span :class="{'greyed-out': sort !== 'Amount'}">
								￬
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- table-grid body -->
		<div class="main" style="margin-top: 155px;">
			<div class="whole">
				<div class="table-body">
					<div class="table-row" v-for="(payment, index) in payments" :key="'payment_' + payment.ID">
						<div class="table-cell">
							{{ payment.ID }}
						</div>
						<div class="table-cell">
							{{ payment.Name }}
						</div>
						<div class="table-cell clickable" style="word-wrap: break-word; padding-right: 20px;">							
							<textarea :id="'desc_' + payment.ID"
								rows="2"
								class="full-width invisible"
								v-model="$store.state.paymentsList[index].Description"
								@focus="currentDescription = payment.Description"
								@blur="saveChanges($store.state.paymentsList[index].Description, $store.state.paymentsList[index].ID)"></textarea>
						</div>
						<div class="table-cell">
							{{ simpleDate(new Date(payment.Date)) }}
						</div>
						<div class="table-cell" :class="{ 'danger-font': parseInt(payment.Amount) < 0 }" style="text-align: right">
							{{ accounting.formatMoney(payment.Amount) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
// Vue components
import NewModal from "./NewModal.vue";
import Datepicker from 'vuejs-datepicker';
// External libraries
const accounting = require("accounting"),
	_ = require("lodash"),
	Fuse = require("fuse.js");

export default {
	data() {
		return {
			currentDescription: "",
			sort: "ID",
			search: "",
			dateModal: false,
			paymentModal: false,
			dateStart: "",
			dateEnd: "",
			AZ: true,
			accounting
		};
	},
	created() {
		this.$store.dispatch("getPayments");
	},
	computed: {
		payments() {
			let that = this,
				fuse = new Fuse(this.$store.state.paymentsList, {
				keys: ["ID", "Name", "Description"],
			});
			if(this.dateStart && this.dateEnd) {
				let filtered = this.$store.state.paymentsList.filter(el => {
					let date = new Date(el.Date);
					return new Date(that.dateStart) <= date && new Date(that.dateEnd) >= date;
				})
				return filtered;
			}
			if(this.search) {
				if(this.search === "Amount") {
					return _.sortBy(fuse.search(this.search), opt => parseInt(opt[this.sort]));	
				}
				return _.sortBy(fuse.search(this.search), opt => opt[this.sort]);
			} else {
				return _.sortBy(this.$store.state.paymentsList, opt => opt[this.sort]);
			}
		}
	},
	methods: {
		simpleDate(date) {
			var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			return date.getFullYear() + "/" + months[date.getMonth()].substr(0, 3) + "/" + date.getDate();
		},
		saveChanges(change, id) {
			if(change !== this.currentDescription) {
				// Commit changes
				this.$store.dispatch("postDescription", { id, description: change });
			}
		}
	},
	components: {
		NewModal,
		Datepicker
	}
}
</script>

<style lang="scss">
.table {
  thead tr:nth-child(1) th{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
div.table-head {
	position: fixed;
	left: 0;
	top: 65px;
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #ccc;
}
div.table-body {
	font-size: 0.8em;
}
div.table-row {
	display: grid;
	overflow: auto;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	grid-template-columns: 3fr 2fr 5fr 1fr 1fr;
	border-bottom: 1px solid #eee;
}
div.table-cell {
	align-self: center;
}
input {
	border: 1px solid #eee;
	border-radius: 5px;
	width: 80%;
	line-height: 15px;
	padding: 8px;
	margin: 10px 0;
}
input:focus {
	border-color: #0B859B;
	outline: none;
}
</style>
