<template>
	<div id="global-header">
		<div class="main">
			<div class="whole">
				<div class="header-logo-container">
					<router-link to="/">
						<img src="https://engineering-application.britecore.com/img/logo.045977be.png" class="full-width" alt="">
					</router-link>
				</div>
				<div class="buoyant-right option first-option">
					<router-link class="clickable" to="quiz">
						QUIZ
					</router-link>
				</div>
				<div class="buoyant-right option">
					<a href="https://gitlab.com/Beatlz/brite-lab-app">
						GIT REPO
					</a>
				</div>
				<div class="buoyant-right option">
					<a href="payments-data">
						DATA TABLE
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	}
}
</script>

<style>
#global-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 65px;
	background: #E5F2F5;
}
.header-logo-container {
	float: left;
	width: 190px;
	margin-top: 18px;
}
.option {
	height: 65px;
	line-height: 65px;
	text-align: right;
	width: 150px;
}
.option > a {
	color: #333;
}
</style>
