<template>
    <transition name="modal">
        <div class="modal-mask" @keyup.esc="$emit('close')">
            <div class="modal-wrapper" :style="modalStyle" @click="$emit('close')">
                <div @click.stop>
					<div class="modal-container" :style="widthStyle">
						<!-- Close button -->
						<img src="../assets/close.svg" alt="" class="close-btn" @click="$emit('close')">	
						<div class="modal-header">
							<slot name="header">
								default header
							</slot>
						</div>

						<div class="modal-body">
							<slot name="body">
								default body
							</slot>
						</div>

						<div class="modal-footer">
							<slot name="footer">
								default footer
							</slot>
						</div>
					</div>
				</div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
	data() {
		return {
			widthStyle: {
				width: '330px'
			},
			modalStyle: {
				verticalAlign: "middle",
				paddingTop: "" 
			}
		};
	},
	created() {
		if(this.w) this.widthStyle.width = this.w;
		if(this.h) this.widthStyle.height = this.h;
		if(this.position === "top") {
			this.modalStyle = {
				verticalAlign: "top",
				paddingTop: "55px"
			};
		}
	},
	props: ['w', "h", "position"]
};
</script>

<style lang="scss">
.modal-mask {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
}

.modal-container {
	max-height: 90vh;
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	max-width: 90vw;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h5 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	overflow-y: visible;
	max-height: 70vh;
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	cursor: pointer;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
