<template>
	<div id="quiz">
		<h3>
			First question:
		</h3>
		<div class="code-box">
			var <span class="var">test</span> = [ 104, 116, 116, 112, 115, 58, 47, 47, 101, 110, 103, 105, 110, 101, 101, 114, 105, 110, 103, 45, 97, 112, 112, 108, 105, 99, 97, 116, 105, 111, 110, 46, 98, 114, 105, 116, 101, 99, 111, 114, 101, 46, 99, 111, 109, 47, 113, 117, 105, 122, 47, 115, 97, 97, 115, 100, 97, 115, 100, 108, 102, 108, 102, 108, 115 ];
			<br><br>
			var <span class="var">solution</span> = test.<span class="function">map</span>((e, index) => { <br>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="function">return</span>&nbsp;<span class="var">String</span>.fromCharCode(e);
			<br>
			});
			<br><br>
			<span class="function">console.log</span>(solution.<span class="function">join</span>(""));
		</div>
		<h3>
			Second question:
		</h3>
		<div class="code-box">
			<span class="comment">// Assuming you have already done "npm install fernet"</span> <br>
			let <span class="var">Fernet</span> = <span class="function">require</span>('fernet'), <br>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">secret</span> = new Fernet.Secret('TluxwB3fV_GWuLkR1_BzGs1Zk90TYAuhNMZP_0q4WyM='); <br>
			<span class="comment">// Oh no! The code is going over the edge! What are you going to do?</span> <br>
			let <span class="var">message</span> = 'gAAAAABcYDWO6cs8oPgta5nuzJPl2iVuGXD4wUPGg1mlBr4XHk9J1H_bSY123ATS5TXRYKA11IFWxs2pgjjOxVj3ZZV6AjSinzeZT1w-aO6JmHWsrOJBkeqRpTSctOvJhRTk_X7LqK0YSnM7XIkIo1d5vme2Qv_6zUg3RxCMh3YdXXt-IwPYTBWuP4GJwWCU99dvF1xLOXvo',<br>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">token</span> = <span class="function">new Fernet</span>.Token({ secret, token: message, ttl:0 });
			<br><br>
			<span class="function">console.log</span>(token.decode());
		</div>
	</div>
</template>

<style lang="scss">
.code-box {
	width: 100%;
	font-family: "Curitive Mono", monospace;
	word-wrap: normal;
	overflow: auto;
	overflow-x: scroll;
	padding: 8px;
	color: #fff;
	background: #333;
	box-sizing: border-box;
}
.var {
	color: #42f4bc;
}
.function {
	color: rgba(234, 217, 76, 1);
}
.comment {
	color: #aaa;
}
</style>
