/* Visit www.tramonte.mx/grid for use cases and examples */

/* ---------- CONTENTS ---------- */

/*

1) MAIN RULES
2) RELATIVE WIDTHS
3) MARGINS
4) MEDIA QUERIES

*/

/* --------- MAIN RULES --------- */

body {
    margin: 0;
    overflow: auto;
    font-family: 'Helvetica Neue', 'Arial', 'Roboto', sans-serif;
  }
  
  .main {
    display: block;
    overflow: auto;
    /*width: 94vw;*/
    width: 1280px;
    margin: 0 auto;
    transition: ease width 0.5s;
  }
  
  .whole, .half, .quarter, .triple-quarter, .third, .double-third {
    display: block;
    margin: auto 2.5%;
    min-height: 10px;
    float: left;
    box-sizing: border-box;
    transition: ease width 0.2s;
  }
  
  .row {
    width: 100%;
    overflow: auto;
  }
  
  /* ------ RELATIVE WIDTHS ------ */
  
  .whole         { width: 95% }
  .half          { width: 45% }
  .third         { width: 28.3% }
  .double-third   { width: 61.7% }
  .quarter       { width: 20% }
  .triple-quarter { width: 70% }
  
  /* ---------- MARGINS ---------- */
  
  .half-margin          { margin-left: 52.5% }
  .third-margin         { margin-left: 35.83333% }
  .double-third-margin   { margin-left: 69.16666% }
  .quarter-margin       { margin-left: 27.5% }
  .triple-quarter-margin { margin-left: 77.5% }
  
  /* ------- SPECIAL RULES ------- */
  
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  
  /* ------- MEDIA QUERIES ------- */
  
  @media (max-width: 1280px) {
    /*  FIRST BREAKPOINT RULES */
    .main { width: 960px; }
  }
  
  @media (max-width: 960px) {
    
    /* SECOND BREAKPOINT RULES */
    .main { width: 780px }
  
    .row {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .whole, .half, .third, .doubleThird, .quarter, .triple-quarter {
      width: 90%;
      margin-left: 5%;
      margin-right: 0;
      float: none;
    }
    
    header {
      display: none;
    }
    
  }
  
  @media (max-width: 780px) {
  
    /* ONE-COLUMN BREAKPOINT; MOBILE GOES HERE */
    
    .main {
      width: 90%;
    }
    .mobile-only {
      display: block;
    }
    .desktop-only {
      display: none;
    }
    
  }
  