<template>
  <div id="app">
    <global-header></global-header>
    <router-view style="margin-top: 65px;"/>
  </div>
</template>

<script>
import GlobalHeader from "./components/GlobalHeader.vue";

export default {
	components: {
		GlobalHeader
	}
};
</script>


<style lang="scss">
/* Import grid and font */
@import url("css/grid.css");
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Noto+Sans|Noto+Serif');
/* Color palette */
$main-color: #0B859B;
$light: #E5F2F5;
$dark: #333;
$warning: rgba(234, 217, 76, 1);
$danger: rgba(231, 111, 81, 1);
/* Global classes */
#app {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  min-height: calc(100vh - 65px);
  margin-top: 65px;
}
.serif {
  font-family: "Noto Serif", serif;
}
.sans-serif {
  font-family: "Noto Sans", sans-serif;
}
.monospace {
  font-family: "Curitive Mono", monospace;
}
.full-width {
  width: 100%;
}
.main-font {
  color: $main-color;
}
.danger-font {
  color: $danger;
}
.buoyant-right {
  float: right;
  height: inherit;
}
.greyed-out {
  opacity: 0.3;
}
.clickable {
  cursor: pointer;
  transition: linear opacity 0.2s;
}
.clickable:hover {
  opacity: 0.7;
}
textarea.invisible {
  border-color: transparent;
  outline: none;
  background: transparent;
  resize: none;
}
textarea.invisible:focus {
  outline: none;
  color: $main-color;
}
input.invisible {
  margin: 0;
  line-height: 15px;
  outline: none;
  background: transparent;
  resize: none;
}
input.invisible:focus {
  outline: none;
}
.new-button {
	overflow-x: auto;
	overflow-y: hidden;
  margin: auto 8px;
	min-width: 150px;
	line-height: 35px;
	background: #e2e2e2;
	color: #333;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	transition: linear opacity 0.2s;
}
.new-button:hover {
  opacity: 0.7;
}
.new-button:focus {
  outline: none;
}
.new-button.danger-button {
  background: $danger;
  color:#eee;
}
a {
	color: $main-color;
}
a {
	text-decoration: none;
}
</style>
